@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #ff483b;

* {
  font-family: 'Muli', sans-serif !important;
}

body {
  padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6, a {
  color: $primary-color;
}

a {
  text-decoration: none;
  &:hover {
    color:darken($primary-color, 15%);
  }
}

.artists_slugs {
  max-width: 300px;
}
.page_btn {
  display: inline-block;
}
.page_btn.next {
  float: right;
}

.interest_container {
  display: inline-block;
  vertical-align: top;
}

.mailer-button {
  &:not(.disabled):hover {
    cursor: pointer;
  }
}

.actions {
  margin-bottom: 15px;
}

input {
  max-width: 250px;
  margin-bottom: 5px;
}

table {
  margin-bottom: 15px;
  th, td {
    text-align: left;
    padding-right: 10px;
  }
}
